* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

nav a {
    text-decoration: none;
    padding: 5px;
    margin-right: 12px;
    font-size: 1.4rem;
}